/* FIRST SECTION */
#accueil {
	min-height: 100vh;
	color: white;
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-position: center top;
	overflow: hidden;

	justify-content: space-around;
}
#accueil::before {
	display: none;
}

/* WHISKERS */
#accueil nav {
	display: flex;
}

#accueil nav > div {
	display: flex;
	flex-direction: column;
}

#accueil nav a {
	transition: 1s;
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 2px black;
}

#accueil nav a::after {
	transition: 0.5s;
	content: "";
	background: url("../images/whisker.svg") center/cover no-repeat;
	display: block;
	height: 34px;
	width: 297px;
	opacity: 50%;
}

.left a::after {
	transform: scaleX(-1);
}

/* angled whiskers */
.left {
	transform: translate(-20vh) rotate(-25deg);
	text-align: start;
}

.right {
	transform: translate(20vh) rotate(25deg);
	text-align: end;
}

@media (max-width: 900px) {
	.left,
	.right {
		text-align: center;
	}
}

@media (max-width: 700px) {
	.left {
		text-align: end;
	}
	.right {
		text-align: start;
	}
}

@media (max-width: 550px) {
	.left {
		transform: translate(-15vw, -10px) rotate(-20deg);
	}
	.right {
		transform: translate(15vw, -10px) rotate(20deg);
	}
}

.left a {
	transform-origin: right;
}

.right a {
	transform-origin: left;
}

/* spread whiskers */
.right a:first-child,
.left a:last-child {
	transform: rotate(-10deg);
}
.right a:last-child,
.left a:first-child {
	transform: rotate(10deg);
}

/* whiskers animations */
nav a:hover,
nav a:focus {
	transition: 1s;
	text-shadow: 0px 0px 3px !important;
}
nav a:hover::after,
nav a:focus::after {
	transition: 0.5s;
	opacity: 100%;
}

.left a:hover,
.left a:focus {
	transform: rotate(-5deg);
}
.left a:last-child:hover,
.left a:last-child:focus {
	transform: rotate(-15deg);
}
.left a:first-child:hover,
.left a:first-child:focus {
	transform: rotate(5deg);
}

.right a:hover,
.right a:focus {
	transform: rotate(5deg);
}
.right a:first-child:hover,
.right a:first-child:focus {
	transform: rotate(-5deg);
}
.right a:last-child:hover,
.right a:last-child:focus {
	transform: rotate(15deg);
}
