/* SECTION BIOGRAPHIE */
dt {
	color: goldenrod;
	font-weight: bold;
	padding-top: 10px;
	text-align: start;
}
dd {
	text-align: end;
	padding: 5px;
	border-bottom: 2px solid rgba(218, 165, 32, 0.5);
	position: relative;
}
dt:nth-of-type(3n),
dd:nth-of-type(3n) {
	transform: translate(5%);
}
dt:nth-of-type(3n + 1),
dd:nth-of-type(3n + 1) {
	transform: translate(-5%);
}
dd:last-of-type {
	padding-left: 40px;
}
dd::after {
	position: absolute;
	display: block;
	content: "";
	bottom: 0;
	right: 0;
	width: 0;
	height: 10px;
	border-left: 2px solid goldenrod;
}
