#galerie {
	width: 100vw;
}

#galerie-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#galerie img {
	margin: 10px;
}

#galerie-container img:nth-child(4n) {
	align-self: flex-start;
}
#galerie-container img:nth-child(4n + 1) {
	align-self: center;
}
#galerie-container img:nth-child(4n + 2) {
	align-self: flex-end;
}
#galerie-container img:nth-child(4n + 3) {
	align-self: center;
}

.portrait {
	max-width: 50vmin;
}
.paysage {
	max-height: 50vmin;
}
