header {
	width: 100%;
	top: 0;
	z-index: 5;
	background-image: linear-gradient(to bottom right, lavender 50%, lightsteelblue 50%);
}

header nav {
	box-shadow: 0px -1px 5px gray;
	padding: 10px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

header a {
	color: goldenrod;
	font-size: 1.5rem;
	text-shadow: 0px 0px 1px white;
	margin: 0 10px;
}

header a:visited {
	color: gold;
	text-shadow: 0px 0px 1px white;
}
