:root {
  --rayonHorloge: -40vmin;
}

/* SECTION RYTHME */
/* @media (min-width: 900px) {
  #rythme {
  }
} */

#rythme {
  position: relative;
  min-height: calc(var(--rayonHorloge) * -3);
  /* justify-content: space-between; */
}

#rythme h2 {
  z-index: 2;
  background-image: radial-gradient(beige 50%, transparent);
}

#horloge {
  width: calc(var(--rayonHorloge) * -2);
  height: calc(var(--rayonHorloge) * -2);
  border-radius: 50%;
  /* border: 3px dashed goldenrod; */
  background-color: beige;

  position: absolute;
  top: calc(50% + var(--rayonHorloge));
  left: calc(50% + var(--rayonHorloge));
}

.horloge-img {
  border-radius: 50%;
  height: calc(var(--rayonHorloge) / -3);
  transition: 0.5s;
}
.horloge-link:hover .horloge-img,
.horloge-link:focus .horloge-img,
.horloge-link.active .horloge-img {
  height: calc(var(--rayonHorloge) / -2);
  box-shadow: 0px 0px 10px 2px gold;
  transition: 0.5s;
}
.horloge-link:hover,
.horloge-link:focus,
.horloge-link.active {
  color: gold;
}

.horloge-link {
  position: absolute !important;
  top: calc(50% - (var(--rayonHorloge) / -4));
  left: calc(50% - (var(--rayonHorloge) / -4));
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: calc(var(--rayonHorloge) / -2);
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;

  transform-origin: 0 0;
}

#hoursHand {
  width: 25%;
  border: 3px solid black;
}

#minutesHand {
  width: 45%;
  border: 3px solid black;
}

#secondsHand {
  width: 45%;
  border: 1px solid black;
}
