/* LIGHTBOX */
img {
	border-radius: 5px;
	box-shadow: -2px 2px 2px;
}
a[data-fslightbox] {
	color: goldenrod;
	position: relative;
	display: inline-block;
	text-align: center;
}
a[data-fslightbox]:not(.no-earmark)::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: 40px solid white;
	border-left: 35px solid transparent;
}
a[data-fslightbox]:not(.no-earmark)::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 40px solid goldenrod;
	border-right: 30px solid transparent;
}

.hidden-lightbox {
	display: none;
}
.hidden-lightbox.shown {
	display: initial;
}
