#food-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

@media (max-width: 500px) {
	#food-container {
		flex-direction: row;
		height: 500px;
	}
}

@media (min-width: 500px) {
	#food-container {
		height: 300px;
		width: 500px;
	}
}

@media (max-width: 500px) {
	#food-container {
		flex-direction: row;
	}
}

.food {
	/* position: absolute; */
	border-radius: 0;
	box-shadow: none;
	height: 90px;
	z-index: 2;
}

.rejected,
.accepted {
	position: relative;
	display: flex;
	align-items: center;
}
.rejected::before {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 120px;
	top: 50%;
	left: calc(50% - 60px);
	border-bottom: 5px solid red;
	border-top: 5px solid red;
	transform: rotate(45deg);
	z-index: 3;
}
.rejected::after {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 120px;
	top: 50%;
	left: calc(50% - 60px);
	border-bottom: 5px solid red;
	border-top: 5px solid red;
	transform: rotate(-45deg);
	z-index: 3;
}

.accepted::before {
	position: absolute;
	display: block;
	content: "";
	height: 90px;
	width: 90px;
	top: calc(50% - 45px);
	left: calc(50% - 45px);
	border-radius: 50%;
	background-image: radial-gradient(transparent 50%, rgb(0, 187, 0) 50%);
	z-index: 3;
}
