html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	/* overflow-x: hidden; */
}

/* OTHER SECTIONS */
main {
	display: flex;
	flex-direction: column;

	background: url("../images/bg-white.png") center/contain;
}
section {
	min-height: 100vh;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

p {
	margin: 10px 0;
	max-width: 50%;
}
figcaption {
	margin-top: 5px;
	color: goldenrod;
	max-width: 280px;
}
/* mini cats banner */
/* section::before {
	display: block;
	content: "";
	background-position: center;
	background-size: contain;
	height: 30px;
	width: 100%;
}
section:nth-child(2)::before {
	background-image: url("../images/cat1.png");
}
section:nth-child(3)::before {
	background-image: url("../images/cat2.png");
}
section:nth-child(4)::before {
	background-image: url("../images/cat3.png");
}
section:nth-child(5)::before {
	background-image: url("../images/cat4.png");
}
section:nth-child(6)::before {
	background-image: url("../images/cat5.png");
}
section:nth-child(7)::before {
	background-image: url("../images/cat6.png");
} */

/* RESPONSIVE */
@media (min-width: 900px) {
	main section {
		width: 70vw;
	}
	main section:nth-child(2n) {
		align-self: flex-start;
	}
	main section:nth-child(2n + 1) {
		align-self: flex-end;
	}
	/* main section:first-child {
	} */
}

/* TODO changer la disposition de l'accueil < 550px */

/* FONTS */
body {
	font-family: "OpenSans", sans-serif;
	text-align: center;
}
h1,
h2,
h3 {
	margin: 20px 0;
	font-family: "Barlow", sans-serif;
}

h1 {
	font-size: 3rem;
	font-weight: bold;
	text-transform: lowercase;
	letter-spacing: 10px;
}
h2 {
	font-size: 2.5rem;
	font-family: "Dancing_Script";
	color: gold;
	font-weight: bold;
}
h3 {
	font-size: 1.5rem;
	font-weight: bold;
	color: goldenrod;
}
nav {
	font-family: "Dancing_Script";
}
b {
	font-weight: bold;
	color: goldenrod;
}
em {
	font-style: italic;
}
small {
	font-size: 0.5rem;
}
.strikethrough {
	text-decoration: line-through;
}
a {
	text-decoration: none;
}

@font-face {
	font-family: "Dancing_Script";
	src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow/Barlow-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow/Barlow-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Barlow";
	src: url("../fonts/Barlow/Barlow-Light.ttf") format("truetype");
	font-weight: lighter;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
	font-weight: lighter;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
}
